@charset "UTF-8";
@import "Variable/_variable";

body {
    @include dsp-flex;
    @media (max-width: 950px) {
        @include flex-direction-column;
    }
}

/**
* Styles Header
**/
header {
    @include dsp-flex;
    @include flex-direction-column;
    position: relative;
    padding: 0;
    background-color: $menu-bgr;
    .top_header {
        @include dsp-flex;
        @include align-items-center;
        @include justify-content-space-between;
        svg {
            width: 34px;
            height: 34px;
            display: block;
            border-radius: 50%;
            margin: 15px 23px;
        }
        .menu-mobile {
            display: none;
            @media (max-width: 950px) {
                display: block;
            }
        }
        .menu-close {
            display: none;
        }
        img {
            cursor: pointer;
            width: 25px;
            height: 35px;
            margin: 15px 20px 15px auto;
        }
    }
    .menu {
        max-width: 80px;
        display: block;
        li {
            @include transition_all;
            a {
                padding: 10px 10px 10px 0;
                @include dsp-flex;
                @include flex-direction-column;
                @include align-items-center;
                width: 100%;
                text-decoration: none;
                svg {
                    width: 24px;
                    height: 24px;
                    display: block;
                    margin: 0 auto 5px;
                }
                span {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 16px;
                    text-align: center;
                    color: $menu-fonts;
                }
            }
            &:hover {
                @include transition_all;
                background: #2F4050;
                a {
                    svg {
                        path {
                            stroke: $white;
                        }
                    }
                    span {
                        color: $white;
                    }
                }
            }
        }
        .parent_recruiting {
            position: relative;
            .children {
                @include transition_all;
                display: none;
                position: absolute;
                right: -250px;
                top: -55px;
                background-color: $menu-bgr;
                width: 240px;
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                li {
                    a {
                        @include dsp-flex;
                        -webkit-flex-direction: unset;
                        -ms-flex-direction: unset;
                        flex-direction: unset;
                        padding-left: 15px;
                        @include align-items-center;
                        span {
                            text-align: left;
                            color: $menu-fonts;
                        }
                    }
                    @include transition_all;
                    background: #263442;
                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                }
                .parent {
                    position: relative;
                    .children {
                        @include transition_all;
                        display: none;
                        position: absolute;
                        right: -250px;
                        top: 0;
                        background-color: $menu-bgr;
                        width: 240px;
                        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                        li {
                            a {
                                @include dsp-flex;
                                -webkit-flex-direction: unset;
                                -ms-flex-direction: unset;
                                flex-direction: unset;
                                padding-left: 15px;
                                @include align-items-center;
                                span {
                                    text-align: left;
                                    color: $menu-fonts;
                                }
                            }
                            @include transition_all;
                            background: #263442;
                            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                        }
                        li:hover {
                            @include transition_all;
                            background: #2F4050;
                            a {
                                span {
                                    text-align: left;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                    &:hover {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: -15px;
                            top: 15px;
                            background: #263442;
                            transform: rotate(-45deg);
                        }
                        .children {
                            @include transition_all;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-image: url("../images/chevron-right.svg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: 5px;
                        top: 5px;
                    }
                }
                li:hover {
                    @include transition_all;
                    background: #2F4050;
                    a {
                        span {
                            text-align: left;
                            color: $yellow;
                        }
                    }
                }
            }
            &:hover {
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: -15px;
                    top: 25px;
                    background: #263442;
                    transform: rotate(-45deg);
                }
                .children {
                    @include transition_all;
                    display: block;
                }
            }
        }
        .parent_selling {
            position: relative;
            .children {
                @include transition_all;
                display: none;
                position: absolute;
                right: -250px;
                top: -120px;
                background-color: $menu-bgr;
                width: 240px;
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                li {
                    a {
                        @include dsp-flex;
                        -webkit-flex-direction: unset;
                        -ms-flex-direction: unset;
                        flex-direction: unset;
                        padding-left: 15px;
                        @include align-items-center;
                        span {
                            text-align: left;
                            color: $menu-fonts;
                        }
                    }
                    @include transition_all;
                    background: #263442;
                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                }
                .parent {
                    position: relative;
                    .children {
                        @include transition_all;
                        display: none;
                        position: absolute;
                        right: -250px;
                        top: 0;
                        background-color: $menu-bgr;
                        width: 240px;
                        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                        li {
                            a {
                                @include dsp-flex;
                                -webkit-flex-direction: unset;
                                -ms-flex-direction: unset;
                                flex-direction: unset;
                                padding-left: 15px;
                                @include align-items-center;
                                span {
                                    text-align: left;
                                    color: $menu-fonts;
                                }
                            }
                            @include transition_all;
                            background: #263442;
                            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                        }
                        li:hover {
                            @include transition_all;
                            background: #2F4050;
                            a {
                                span {
                                    text-align: left;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                    &:hover {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: -15px;
                            top: 15px;
                            background: #263442;
                            transform: rotate(-45deg);
                        }
                        .children {
                            @include transition_all;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-image: url("../images/chevron-right.svg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: 5px;
                        top: 5px;
                    }
                }
                li:hover {
                    @include transition_all;
                    background: #2F4050;
                    a {
                        span {
                            text-align: left;
                            color: $yellow;
                        }
                    }
                }
            }
            &:hover {
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: -15px;
                    top: 25px;
                    background: #263442;
                    transform: rotate(-45deg);
                }
                .children {
                    @include transition_all;
                    display: block;
                }
            }
        }
        .parent_training {
            position: relative;
            .children {
                @include transition_all;
                display: none;
                position: absolute;
                right: -250px;
                top: -185px;
                background-color: $menu-bgr;
                width: 240px;
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                li {
                    a {
                        @include dsp-flex;
                        -webkit-flex-direction: unset;
                        -ms-flex-direction: unset;
                        flex-direction: unset;
                        padding-left: 15px;
                        @include align-items-center;
                        span {
                            text-align: left;
                            color: $menu-fonts;
                        }
                    }
                    @include transition_all;
                    background: #263442;
                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                }
                .parent {
                    position: relative;
                    .children {
                        @include transition_all;
                        display: none;
                        position: absolute;
                        right: -250px;
                        top: 0;
                        background-color: $menu-bgr;
                        width: 240px;
                        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                        li {
                            a {
                                @include dsp-flex;
                                -webkit-flex-direction: unset;
                                -ms-flex-direction: unset;
                                flex-direction: unset;
                                padding-left: 15px;
                                @include align-items-center;
                                span {
                                    text-align: left;
                                    color: $menu-fonts;
                                }
                            }
                            @include transition_all;
                            background: #263442;
                            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                        }
                        li:hover {
                            @include transition_all;
                            background: #2F4050;
                            a {
                                span {
                                    text-align: left;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                    &:hover {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: -15px;
                            top: 15px;
                            background: #263442;
                            transform: rotate(-45deg);
                        }
                        .children {
                            @include transition_all;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-image: url("../images/chevron-right.svg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: 5px;
                        top: 5px;
                    }
                }
                li:hover {
                    @include transition_all;
                    background: #2F4050;
                    a {
                        span {
                            text-align: left;
                            color: $yellow;
                        }
                    }
                }
            }
            &:hover {
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: -15px;
                    top: 25px;
                    background: #263442;
                    transform: rotate(-45deg);
                }
                .children {
                    @include transition_all;
                    display: block;
                }
            }
        }
        .parent_added {
            position: relative;
            .children {
                @include transition_all;
                display: none;
                position: absolute;
                right: -250px;
                top: -250px;
                background-color: $menu-bgr;
                width: 240px;
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                li {
                    a {
                        @include dsp-flex;
                        -webkit-flex-direction: unset;
                        -ms-flex-direction: unset;
                        flex-direction: unset;
                        padding-left: 15px;
                        @include align-items-center;
                        span {
                            text-align: left;
                            color: $menu-fonts;
                        }
                    }
                    @include transition_all;
                    background: #263442;
                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                }
                .parent {
                    position: relative;
                    .children {
                        @include transition_all;
                        display: none;
                        position: absolute;
                        right: -250px;
                        top: 0;
                        background-color: $menu-bgr;
                        width: 240px;
                        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                        li {
                            a {
                                @include dsp-flex;
                                -webkit-flex-direction: unset;
                                -ms-flex-direction: unset;
                                flex-direction: unset;
                                padding-left: 15px;
                                @include align-items-center;
                                span {
                                    text-align: left;
                                    color: $menu-fonts;
                                }
                            }
                            @include transition_all;
                            background: #263442;
                            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                        }
                        li:hover {
                            @include transition_all;
                            background: #2F4050;
                            a {
                                span {
                                    text-align: left;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                    &:hover {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: -15px;
                            top: 15px;
                            background: #263442;
                            transform: rotate(-45deg);
                        }
                        .children {
                            @include transition_all;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-image: url("../images/chevron-right.svg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: 5px;
                        top: 5px;
                    }
                }
                li:hover {
                    @include transition_all;
                    background: #2F4050;
                    a {
                        span {
                            text-align: left;
                            color: $yellow;
                        }
                    }
                }
            }
            &:hover {
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: -15px;
                    top: 25px;
                    background: #263442;
                    transform: rotate(-45deg);
                }
                .children {
                    @include transition_all;
                    display: block;
                }
            }
        }
        .parent_materials {
            position: relative;
            .children {
                @include transition_all;
                display: none;
                position: absolute;
                right: -250px;
                top: -315px;
                background-color: $menu-bgr;
                width: 240px;
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                li {
                    a {
                        @include dsp-flex;
                        -webkit-flex-direction: unset;
                        -ms-flex-direction: unset;
                        flex-direction: unset;
                        padding-left: 15px;
                        @include align-items-center;
                        span {
                            text-align: left;
                            color: $menu-fonts;
                        }
                    }
                    @include transition_all;
                    background: #263442;
                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                }
                .parent {
                    position: relative;
                    .children {
                        @include transition_all;
                        display: none;
                        position: absolute;
                        right: -250px;
                        top: 0;
                        background-color: $menu-bgr;
                        width: 240px;
                        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                        li {
                            a {
                                @include dsp-flex;
                                -webkit-flex-direction: unset;
                                -ms-flex-direction: unset;
                                flex-direction: unset;
                                padding-left: 15px;
                                @include align-items-center;
                                span {
                                    text-align: left;
                                    color: $menu-fonts;
                                }
                            }
                            @include transition_all;
                            background: #263442;
                            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
                        }
                        li:hover {
                            @include transition_all;
                            background: #2F4050;
                            a {
                                span {
                                    text-align: left;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                    &:hover {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: -15px;
                            top: 15px;
                            background: #263442;
                            transform: rotate(-45deg);
                        }
                        .children {
                            @include transition_all;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-image: url("../images/chevron-right.svg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: 5px;
                        top: 5px;
                    }
                }
                li:hover {
                    @include transition_all;
                    background: #2F4050;
                    a {
                        span {
                            text-align: left;
                            color: $yellow;
                        }
                    }
                }
            }
            &:hover {
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: -15px;
                    top: 25px;
                    background: #263442;
                    transform: rotate(-45deg);
                }
                .children {
                    @include transition_all;
                    display: block;
                }
            }
        }
        .active {
            background: #2F4050;
            a {
                svg {
                    path {
                        stroke: $white;
                    }
                }
                span {
                    color: $white;
                }
            }
        }
        @media (max-width: 950px) {
            display: none;
            max-width: 950px;
            padding: 5px 0 0;
            li {
                a {
                    flex-direction: initial;
                    -webkit-flex-direction: initial;
                    -ms-flex-direction: initial;
                    width: auto;
                    svg {
                        margin: 0 10px 5px 20px;
                        path {
                            stroke: $white;
                        }
                    }
                    span {
                        color: $white;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 21px;
                    }
                }
            }
            .parent_recruiting {
                position: relative;
                .children {
                    position: relative;
                    display: none;
                    left: 0;
                    top: 0;
                    background-color: $menu-bgr;
                    width: auto;
                    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                    li {
                        padding-left: 65px;
                        a {
                            @include dsp-flex;
                            -webkit-flex-direction: unset;
                            -ms-flex-direction: unset;
                            flex-direction: unset;
                            padding-left: 15px;
                            @include align-items-center;
                            span {
                                text-align: left;
                                color: $menu-fonts;
                            }
                        }
                    }
                    .parent {
                        position: relative;
                        .children {
                            margin-left: -65px;
                            display: none;
                            left: 0;
                            top: 0;
                            position: relative;
                            width: auto;
                            background-color: $menu-bgr;
                            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                            li {
                                padding-left: 130px;
                                a {
                                    @include dsp-flex;
                                    -webkit-flex-direction: unset;
                                    -ms-flex-direction: unset;
                                    flex-direction: unset;
                                    padding-left: 15px;
                                    @include align-items-center;
                                    span {
                                        text-align: left;
                                        color: $menu-fonts;
                                    }
                                }
                            }
                        }
                        &:hover {
                            &:before {
                                width: 24px;
                                height: 24px;
                                right: 10px;
                                top: 10px;
                                transform: none;
                                background: initial;
                                background-image: url("../images/undo.svg ");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:hover {
                    &:before {
                        width: 24px;
                        height: 24px;
                        right: 10px;
                        top: 10px;
                        transform: none;
                        background: initial;
                        background-image: url("../images/undo.svg ");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .parent_selling {
                position: relative;
                .children {
                    @include transition_all;
                    display: none;
                    left: 0;
                    top: 0;
                    position: relative;
                    width: auto;
                    background-color: $menu-bgr;
                    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                    li {
                        a {
                            @include dsp-flex;
                            -webkit-flex-direction: unset;
                            -ms-flex-direction: unset;
                            flex-direction: unset;
                            padding-left: 15px;
                            @include align-items-center;
                            span {
                                text-align: left;
                                color: $menu-fonts;
                            }
                        }
                    }
                    .parent {
                        position: relative;
                        .children {
                            margin-left: -65px;
                            display: none;
                            position: relative;
                            width: auto;
                            left: 0;
                            top: 0;
                            background-color: $menu-bgr;
                            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                            li {
                                padding-left: 130px;
                                a {
                                    @include dsp-flex;
                                    -webkit-flex-direction: unset;
                                    -ms-flex-direction: unset;
                                    flex-direction: unset;
                                    padding-left: 15px;
                                    @include align-items-center;
                                    span {
                                        text-align: left;
                                        color: $menu-fonts;
                                    }
                                }
                            }
                        }
                        &:hover {
                            &:before {
                                width: 24px;
                                height: 24px;
                                right: 10px;
                                top: 10px;
                                transform: none;
                                background: initial;
                                background-image: url("../images/undo.svg ");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:hover {
                    &:before {
                        width: 24px;
                        height: 24px;
                        right: 10px;
                        top: 10px;
                        transform: none;
                        background: initial;
                        background-image: url("../images/undo.svg ");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .parent_training {
                position: relative;
                .children {
                    @include transition_all;
                    display: none;
                    width: auto;
                    left: 0;
                    top: 0;
                    position: relative;
                    background-color: $menu-bgr;
                    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                    li {
                        a {
                            @include dsp-flex;
                            -webkit-flex-direction: unset;
                            -ms-flex-direction: unset;
                            flex-direction: unset;
                            padding-left: 15px;
                            @include align-items-center;
                            span {
                                text-align: left;
                                color: $menu-fonts;
                            }
                        }
                    }
                    .parent {
                        position: relative;
                        .children {
                            margin-left: -65px;
                            display: none;
                            width: auto;
                            left: 0;
                            top: 0;
                            position: relative;
                            background-color: $menu-bgr;
                            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                            li {
                                padding-left: 130px;
                                a {
                                    @include dsp-flex;
                                    -webkit-flex-direction: unset;
                                    -ms-flex-direction: unset;
                                    flex-direction: unset;
                                    padding-left: 15px;
                                    @include align-items-center;
                                    span {
                                        text-align: left;
                                        color: $menu-fonts;
                                    }
                                }
                            }
                        }
                        &:hover {
                            &:before {
                                width: 24px;
                                height: 24px;
                                right: 10px;
                                top: 10px;
                                transform: none;
                                background: initial;
                                background-image: url("../images/undo.svg ");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:hover {
                    &:before {
                        width: 24px;
                        height: 24px;
                        right: 10px;
                        top: 10px;
                        transform: none;
                        background: initial;
                        background-image: url("../images/undo.svg ");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .parent_added {
                position: relative;
                .children {
                    @include transition_all;
                    display: none;
                    width: auto;
                    left: 0;
                    top: 0;
                    position: relative;
                    background-color: $menu-bgr;
                    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                    li {
                        padding-left: 130px;
                        a {
                            @include dsp-flex;
                            -webkit-flex-direction: unset;
                            -ms-flex-direction: unset;
                            flex-direction: unset;
                            padding-left: 15px;
                            @include align-items-center;
                            span {
                                text-align: left;
                                color: $menu-fonts;
                            }
                        }
                    }
                    .parent {
                        position: relative;
                        .children {
                            margin-left: -65px;
                            display: none;
                            width: auto;
                            left: 0;
                            top: 0;
                            position: relative;
                            background-color: $menu-bgr;
                            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                            li {
                                a {
                                    @include dsp-flex;
                                    -webkit-flex-direction: unset;
                                    -ms-flex-direction: unset;
                                    flex-direction: unset;
                                    padding-left: 15px;
                                    @include align-items-center;
                                    span {
                                        text-align: left;
                                        color: $menu-fonts;
                                    }
                                }
                            }
                        }
                        &:hover {
                            &:before {
                                width: 24px;
                                height: 24px;
                                right: 10px;
                                top: 10px;
                                transform: none;
                                background: initial;
                                background-image: url("../images/undo.svg ");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:hover {
                    &:before {
                        width: 24px;
                        height: 24px;
                        right: 10px;
                        top: 10px;
                        transform: none;
                        background: initial;
                        background-image: url("../images/undo.svg ");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .parent_materials {
                position: relative;
                .children {
                    @include transition_all;
                    display: none;
                    width: auto;
                    left: 0;
                    top: 0;
                    position: relative;
                    background-color: $menu-bgr;
                    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                    li {
                        padding-left: 130px;
                        a {
                            @include dsp-flex;
                            -webkit-flex-direction: unset;
                            -ms-flex-direction: unset;
                            flex-direction: unset;
                            padding-left: 15px;
                            @include align-items-center;
                            span {
                                text-align: left;
                                color: $menu-fonts;
                            }
                        }
                    }
                    .parent {
                        position: relative;
                        .children {
                            margin-left: -65px;
                            display: none;
                            width: auto;
                            left: 0;
                            top: 0;
                            position: relative;
                            background-color: $menu-bgr;
                            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
                            li {
                                a {
                                    @include dsp-flex;
                                    -webkit-flex-direction: unset;
                                    -ms-flex-direction: unset;
                                    flex-direction: unset;
                                    padding-left: 15px;
                                    @include align-items-center;
                                    span {
                                        text-align: left;
                                        color: $menu-fonts;
                                    }
                                }
                            }
                        }
                        &:hover {
                            &:before {
                                width: 24px;
                                height: 24px;
                                right: 10px;
                                top: 10px;
                                transform: none;
                                background: initial;
                                background-image: url("../images/undo.svg ");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:hover {
                    &:before {
                        width: 24px;
                        height: 24px;
                        right: 10px;
                        top: 10px;
                        transform: none;
                        background: initial;
                        background-image: url("../images/undo.svg ");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .active {
                background: $menu-bgr;
            }
        }
    }
    .add_video_header {
        display: none;
    }
    .account_header {
        display: none;
    }
    @media (max-width: 950px) {
        height: auto;
    }
}
.active-menu {
    position: fixed;
    overflow: scroll;
    width: 100%;
    z-index: 2;
    height: 100%;
    .top_header {
        .menu-mobile {
            display: none;
        }
        .menu-close {
            display: block;
        }
    }
    .menu {
        display: block;
    }
    .add_video_header {
        @include button-style;
        padding-left: 0;
        padding-right: 0;
        max-width: 705px;
        width: 100%;
        margin: auto auto 20px auto;
        @media (max-width: 745px) {
            margin-left: 20px;
            margin-right: 20px;
            width: auto;
        }
    }
    .account_header {
        @include button-style;
        color: $white;
        padding-left: 0;
        padding-right: 0;
        max-width: 705px;
        width: 100%;
        background-color: $menu-bgr;
        margin: 0 auto 20px auto;
        &:hover {
            background-color: $menu-bgr;
        }
        @media (max-width: 745px) {
            width: auto;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

/**
* Styles a Content`s breadcrumbs
**/
.content {
    .breadcrumbs-account {
        padding: 0;
        box-shadow: inset 0px -1px 0px #E4ECEF;
        .wrapper {
            padding: 0 30px;
            width: auto;
            @include dsp-flex;
            @include align-items-center;
            @include justify-content-space-between;
            .breadcrumbs {
                @include dsp-flex;
                @include align-items-center;
                .breadcrumbs_core {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: $fonts;
                    margin-right: 4px;
                    display: block;
                    text-decoration: none;
                }
                svg {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
                .active {
                    font-weight: 600;
                }
            }
            .add_video {
                @include button-style;
                margin: 12px 30px 12px auto;
            }
            .account {
                position: relative;
                cursor: pointer;
                .account_content {
                    padding:15px 0 15px 30px;
                    border-left: 1px solid $grey;
                    @include dsp-flex;
                    @include align-items-center;
                    .account_url {
                        text-decoration: none;
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        display: block;
                        svg {
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            display: block;
                        }
                    }
                }
                .account_popup {
                    @include transition_all;
                    display: none;
                    position: absolute;
                    width: 112px;
                    height: 68px;
                    left: -45px;
                    top: 54px;
                    background-color: $white;
                    filter: drop-shadow(0px 14px 21px rgba(0, 0, 0, 0.13));
                    .account_popup_item {
                        @include dsp-flex;
                        @include align-items-center;
                        display: block;
                        text-decoration: none;
                        padding: 6px 20px;
                        width: auto;
                        border-bottom: 1px solid $grey;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #29292A;
                    }
                    .account_popup_item:last-child {
                        border-bottom: none;
                    }
                }
                &:hover {
                    .account_content {
                        .account_url {
                            svg {
                                background-color: $white;
                                border: 1px solid $yellow;
                                width: 32px;
                                height: 32px;
                                circle {
                                    fill: $white;
                                }
                            }
                        }
                    }
                    .account_popup {
                        @include transition_all;
                        display: block;
                    }
                }
            }
            @media (max-width: 950px) {
                .breadcrumbs {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .add_video {
                    display: none;
                }
                .account {
                    display: none;
                }
            }
            @media (max-width: 460px) {
                .breadcrumbs {
                    .breadcrumbs_core:last-child {
                        width: 240px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                }
            }
            @media (max-width: 370px) {
                .breadcrumbs {
                    .breadcrumbs_core:last-child {
                        width: 200px;
                    }

                }
            }
        }
    }
}

/**
* Styles Footer
**/
footer {
    .wrapper {
        width: auto;
        padding: 100px 30px 95px;
        @include dsp-flex;
        .logo-footer {
            max-width: 180px;
            width: 100%;
            max-height: 40px;
            margin-right: 250px;
            svg {
                max-width: 180px;
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .footer-block-items {
            @include dsp-flex;
            @include justify-content-space-between;
            width: 100%;
            .footer-items {
                max-width: 325px;
                width: 100%;
                .footer-items_title {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: $fonts;
                    padding-bottom: 15px;
                    position: relative;
                    margin-bottom: 23px;
                    &:after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 20px;
                        bottom: 0;
                        left: 0;
                        background-color: $yellow;
                    }
                }
                .footer-item {
                    text-decoration: none;
                    @include dsp-flex;
                    margin-bottom: 20px;
                    svg {
                        display: block;
                        margin-right: 10px;
                    }
                    span {
                        @include transition_all;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: $fonts;
                    }
                    &:hover {
                        span {
                            @include transition_all;
                            color: $yellow;
                        }
                    }
                }
                .footer-item:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 1375px) {
            padding: 80px 30px 75px;
            .logo-footer {
                margin-right: 80px;
            }
        }
        @media (max-width: 1150px) {
           @include flex-direction-column;
            padding: 50px 30px 50px;
            .logo-footer {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        @media (max-width: 950px) {
            padding: 30px 20px 0;
            max-width: 400px;
            @include margin-left-right-auto;
            .footer-block-items {
                @include flex-wrap-wrap;
                .footer-items {
                    max-width: 160px;
                    margin-bottom: 54px;
                }
                .footer-items:nth-child(3) {
                    margin-bottom: 25px;
                }
                .footer-items:nth-child(4) {
                    margin-bottom: 25px;
                }
            }
        }
        @media (max-width: 415px) {
            max-width: 180px;
            .footer-block-items {
                @include flex-wrap-wrap;
                .footer-items {
                    @include dsp-flex;
                    @include align-items-center;
                    @include flex-direction-column;
                    @include margin-left-right-auto;
                    margin-bottom: 40px;
                }
                .footer-items:nth-child(3) {
                    @include margin-left-right-auto;
                    margin-bottom: 40px;
                }
                .footer-items:nth-child(4) {
                    @include margin-left-right-auto;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .bottom-footer {
        background: #F5F8FA;
        width: 100%;
        padding: 13px 0;
        font-family: $poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #29292A;
    }
}