@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.wrapper {
  width: 100%;
  margin: 0 auto; }

.content {
  width: 100%; }

section {
  padding: 0 30px; }
  @media (max-width: 950px) {
    section {
      padding: 0 20px; } }

body {
  background: #FFFFFF; }

html {
  height: 100%; }

.top-category {
  background: #FBFBFB;
  padding-top: 75px;
  padding-bottom: 45px; }
  .top-category .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center; }
    .top-category .wrapper .top-category_title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: #1A1A1A;
      padding-bottom: 20px;
      position: relative;
      max-width: 540px;
      margin-right: 60px; }
      .top-category .wrapper .top-category_title:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 30px;
        background-color: #ED8323;
        bottom: 0;
        left: 0; }
    .top-category .wrapper .top-category_description {
      max-width: 540px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #1A1A1A; }
    @media (max-width: 1195px) {
      .top-category .wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: initial;
        align-items: initial; }
        .top-category .wrapper .top-category_title {
          margin-bottom: 6px;
          margin-right: 0;
          max-width: 1195px; }
        .top-category .wrapper .top-category_description {
          max-width: 1195px; } }
    @media (max-width: 605px) {
      .top-category .wrapper .top-category_title {
        font-size: 18px;
        padding-bottom: 18px;
        margin-bottom: 12px; } }
  @media (max-width: 1195px) {
    .top-category {
      padding-top: 30px;
      padding-bottom: 30px; } }

.slider-small-block {
  background: #F5F8FA; }
  .slider-small-block .wrapper {
    padding: 24px 0 40px;
    border-bottom: 1px solid #EBEDEE; }
    .slider-small-block .wrapper .slider-small-block_top {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin-bottom: 12px; }
      .slider-small-block .wrapper .slider-small-block_top .slider-small-block_title_link {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex; }
        .slider-small-block .wrapper .slider-small-block_top .slider-small-block_title_link .slider-small-block_title {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #1A1A1A;
          margin-right: 15px; }
        .slider-small-block .wrapper .slider-small-block_top .slider-small-block_title_link .slider-small-block_link {
          padding-top: 3px;
          display: block;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #ED8323;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          .slider-small-block .wrapper .slider-small-block_top .slider-small-block_title_link .slider-small-block_link:hover {
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            text-decoration: none; }
      .slider-small-block .wrapper .slider-small-block_top .slider-small-block_navigation {
        max-width: 70px;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .slider-small-block .wrapper .slider-small-block_top .slider-small-block_navigation .slider-small-button {
          width: 24px;
          height: 24px;
          cursor: pointer; }
          .slider-small-block .wrapper .slider-small-block_top .slider-small-block_navigation .slider-small-button svg {
            display: block;
            width: 24px;
            height: 24px; }
      @media (max-width: 950px) {
        .slider-small-block .wrapper .slider-small-block_top .slider-small-block_title_link {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          width: 100%; }
        .slider-small-block .wrapper .slider-small-block_top .slider-small-block_navigation {
          display: none; } }
    .slider-small-block .wrapper .slider-small-block {
      max-width: 1760px;
      width: 100%;
      overflow: hidden; }
      .slider-small-block .wrapper .slider-small-block .items .item {
        max-width: 360px;
        width: 100%;
        position: relative; }
        .slider-small-block .wrapper .slider-small-block .items .item .item_label {
          position: absolute;
          width: auto;
          height: auto;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(2.5px);
          border-radius: 100px;
          font-family: "Poppins", sans-serif;
          top: 10px;
          right: 10px;
          padding: 2px 15px;
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          text-align: center;
          color: #E6F3F8; }
        .slider-small-block .wrapper .slider-small-block .items .item .item_img {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          display: block;
          max-width: 360px;
          width: 100%;
          height: 200px;
          border-radius: 3px;
          margin-bottom: 10px; }
        .slider-small-block .wrapper .slider-small-block .items .item .item_title {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          display: block;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #1A1A1A;
          margin-bottom: 2px; }
        .slider-small-block .wrapper .slider-small-block .items .item .item_autor {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #444647;
          margin-bottom: 10px; }
        .slider-small-block .wrapper .slider-small-block .items .item .item_tags {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          overflow: hidden; }
          .slider-small-block .wrapper .slider-small-block .items .item .item_tags .item_tag {
            display: block;
            text-decoration: none;
            background: #DDE0E1;
            border-radius: 6px;
            padding: 2px 5px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
            color: #4D5E6F;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            margin-right: 10px; }
            .slider-small-block .wrapper .slider-small-block .items .item .item_tags .item_tag:hover {
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              background: #ED8323;
              color: #FFFFFF; }
          .slider-small-block .wrapper .slider-small-block .items .item .item_tags .item_tag:last-child {
            margin-right: 0; }
        .slider-small-block .wrapper .slider-small-block .items .item:hover .item_title {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          color: #ED8323; }
      .slider-small-block .wrapper .slider-small-block .items .item_liked {
        max-width: 555px;
        height: 310px;
        width: 100%;
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 3px; }
        .slider-small-block .wrapper .slider-small-block .items .item_liked .item_label {
          position: absolute;
          width: auto;
          height: auto;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(2.5px);
          border-radius: 100px;
          font-family: "Poppins", sans-serif;
          top: 10px;
          right: 10px;
          padding: 2px 15px;
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          text-align: center;
          color: #E6F3F8; }
        .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom {
          padding: 13px 20px 20px;
          width: auto;
          background: rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(5px);
          border-radius: 0 0 3px 3px;
          margin-top: auto; }
          .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom .item_title {
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            display: block;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 2px; }
          .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom .item_autor {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #BFC6C8;
            margin-bottom: 10px; }
          .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom .item_tags {
            overflow: hidden;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex; }
            .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom .item_tags .item_tag {
              display: block;
              text-decoration: none;
              background: rgba(0, 0, 0, 0.4);
              backdrop-filter: blur(2.5px);
              border-radius: 6px;
              padding: 2px 5px;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11px;
              line-height: 16px;
              text-align: center;
              color: #BFC6C8;
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              margin-right: 10px; }
              .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom .item_tags .item_tag:hover {
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                background: #ED8323;
                color: #FFFFFF; }
            .slider-small-block .wrapper .slider-small-block .items .item_liked .item_liked_bottom .item_tags .item_tag:last-child {
              margin-right: 0; }
        .slider-small-block .wrapper .slider-small-block .items .item_liked:hover .item_liked_bottom .item_title {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          color: #ED8323; }
        @media (max-width: 950px) {
          .slider-small-block .wrapper .slider-small-block .items .item_liked {
            max-width: 360px;
            width: 100%;
            height: 280px; } }
  @media (max-width: 480px) {
    .slider-small-block {
      padding: 0; }
      .slider-small-block .wrapper .slider-small-block_top .slider-small-block_title_link {
        margin-left: 20px;
        margin-right: 20px; }
      .slider-small-block .wrapper .slider-small-block {
        width: auto;
        margin-left: 20px; }
        .slider-small-block .wrapper .slider-small-block .items .item {
          max-width: 320px; }
        .slider-small-block .wrapper .slider-small-block .items .item_liked {
          max-width: 320px; } }

.post-section {
  background: #F5F8FA; }
  .post-section .wrapper {
    padding: 40px 0;
    border-bottom: 1px solid #EBEDEE; }
    .post-section .wrapper .post_title {
      margin-bottom: 15px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #1A1A1A; }
    .post-section .wrapper .posts .post {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: 30px; }
      .post-section .wrapper .posts .post .post_img_label {
        position: relative;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        display: block;
        max-width: 360px;
        width: 100%;
        height: 200px;
        border-radius: 3px;
        margin-right: 35px; }
        .post-section .wrapper .posts .post .post_img_label .post_label {
          position: absolute;
          width: auto;
          height: auto;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(2.5px);
          border-radius: 100px;
          font-family: "Poppins", sans-serif;
          top: 10px;
          right: 10px;
          padding: 2px 15px;
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          text-align: center;
          color: #E6F3F8; }
      .post-section .wrapper .posts .post .post_content {
        max-width: 745px;
        width: 100%; }
        .post-section .wrapper .posts .post .post_content .post_title {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          display: block;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #1A1A1A;
          margin-bottom: 2px; }
        .post-section .wrapper .posts .post .post_content .post_autor {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #444647;
          margin-bottom: 10px; }
        .post-section .wrapper .posts .post .post_content .post_tags {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          overflow: hidden;
          margin-bottom: 15px; }
          .post-section .wrapper .posts .post .post_content .post_tags .post_tag {
            display: block;
            text-decoration: none;
            background: #DDE0E1;
            border-radius: 6px;
            padding: 2px 5px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
            color: #4D5E6F;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            margin-right: 10px; }
            .post-section .wrapper .posts .post .post_content .post_tags .post_tag:hover {
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              background: #ED8323;
              color: #FFFFFF; }
          .post-section .wrapper .posts .post .post_content .post_tags .post_tag:last-child {
            margin-right: 0; }
        .post-section .wrapper .posts .post .post_content .post_description {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #444647;
          margin-bottom: 8px; }
        .post-section .wrapper .posts .post .post_content .post_link {
          display: block;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #ED8323;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          .post-section .wrapper .posts .post .post_content .post_link:hover {
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            text-decoration: none; }
      .post-section .wrapper .posts .post:hover .post_content .post_title {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        color: #ED8323; }
      @media (max-width: 950px) {
        .post-section .wrapper .posts .post .post_img_label {
          width: 340px;
          height: 190px;
          margin-right: 20px; }
        .post-section .wrapper .posts .post .post_content {
          max-width: 340px; }
          .post-section .wrapper .posts .post .post_content .post_description {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; } }
      @media (max-width: 650px) {
        .post-section .wrapper .posts .post {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          .post-section .wrapper .posts .post .post_img_label {
            width: 335px;
            height: 185px;
            margin-right: 0;
            margin-bottom: 11px; }
          .post-section .wrapper .posts .post .post_content {
            max-width: 335px; } }
    .post-section .wrapper .show-more {
      background: #ED8323;
      border-radius: 10px;
      padding: 9px 20px;
      width: fit-content;
      width: -moz-fit-content;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      cursor: pointer;
      color: #FFFFFF;
      margin: 0 auto; }
      .post-section .wrapper .show-more svg {
        display: block;
        margin-right: 10px; }
      .post-section .wrapper .show-more span {
        display: block;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF; }
      .post-section .wrapper .show-more:hover {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        background-color: #DB6C08; }

.last-post {
  padding-bottom: 60px; }
  .last-post .wrapper {
    border-bottom: none; }
  @media (max-width: 950px) {
    .last-post {
      padding-bottom: 20px; } }
  @media (max-width: 650px) {
    .last-post {
      padding-bottom: 0; } }

.search-filter {
  background: #F5F8FA;
  padding-top: 40px; }
  .search-filter .wrapper {
    background: #FDFDFD;
    border: 1px solid #DDEBEF;
    border-radius: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex; }
    .search-filter .wrapper .search {
      padding-top: 7px;
      padding-bottom: 7px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      width: 45%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      border-right: 1px solid #EBEDEE;
      margin-right: 20px; }
      .search-filter .wrapper .search svg {
        margin-left: 20px;
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 10px; }
      .search-filter .wrapper .search .search_input {
        border: none;
        height: 22px;
        width: 90%;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #1A1A1A; }
        .search-filter .wrapper .search .search_input::-webkit-input-placeholder {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8E989B; }
        .search-filter .wrapper .search .search_input::-moz-placeholder {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8E989B; }
        .search-filter .wrapper .search .search_input:-ms-input-placeholder {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8E989B; }
        .search-filter .wrapper .search .search_input:-webkit-autofill, .search-filter .wrapper .search .search_input:focus-visible, .search-filter .wrapper .search .search_input:-webkit-autofill:hover, .search-filter .wrapper .search .search_input:-webkit-autofill:focus, .search-filter .wrapper .search .search_input:-webkit-autofill:focus-visible, .search-filter .wrapper .search .search_input:-webkit-autofill, .search-filter .wrapper .search .search_input:-webkit-autofill:hover, .search-filter .wrapper .search .search_input:-webkit-autofill:focus, .search-filter .wrapper .search .search_input:-webkit-autofill, .search-filter .wrapper .search .search_input:-webkit-autofill:hover, .search-filter .wrapper .search .search_input:-webkit-autofill:focus {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: none;
          -webkit-text-fill-color: #1A1A1A;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
          outline: none; }
      .search-filter .wrapper .search .icon_close {
        display: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 20px; }
    .search-filter .wrapper .active svg path {
      fill: #ED8323; }
    .search-filter .wrapper .active .icon_close {
      display: block; }
    .search-filter .wrapper .filters_content {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      width: 55%; }
      .search-filter .wrapper .filters_content .types {
        margin-left: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        max-width: 310px;
        width: 100%;
        position: relative; }
        .search-filter .wrapper .filters_content .types .typesr {
          -webkit-align-items: center;
          align-items: center;
          padding: 2px 15px;
          background: #FFFFFF;
          border-radius: 100px;
          height: 20px;
          max-width: 220px;
          width: 100%;
          cursor: pointer;
          display: none; }
          .search-filter .wrapper .filters_content .types .typesr svg {
            width: 18px;
            height: 18px;
            display: block; }
          .search-filter .wrapper .filters_content .types .typesr span {
            margin-left: 10px;
            display: block;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px; }
          .search-filter .wrapper .filters_content .types .typesr .icon_close {
            display: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-right: 20px; }
          .search-filter .wrapper .filters_content .types .typesr svg:last-child {
            width: 10px;
            height: 5px;
            display: block;
            margin-left: auto; }
        .search-filter .wrapper .filters_content .types .types_items {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center; }
          .search-filter .wrapper .filters_content .types .types_items .type {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            padding: 2px 15px;
            background: #FFFFFF;
            border: 1px solid #D7E1E5;
            border-radius: 100px;
            height: 20px;
            cursor: pointer;
            margin-right: 10px; }
            .search-filter .wrapper .filters_content .types .types_items .type .type_item_qurta {
              display: none;
              width: 16px;
              height: 16px;
              background: #FFFFFF;
              border: 1px solid #D7E1E5;
              border-radius: 2px;
              margin-right: 12px; }
            .search-filter .wrapper .filters_content .types .types_items .type .type_item_title {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 11px;
              line-height: 16px;
              text-align: center;
              color: #617589; }
          .search-filter .wrapper .filters_content .types .types_items .active {
            border: 1px solid #ED8322; }
            .search-filter .wrapper .filters_content .types .types_items .active .type_item_title {
              color: #ED8322; }
      .search-filter .wrapper .filters_content .by_speaker {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center; }
        .search-filter .wrapper .filters_content .by_speaker .speaker {
          cursor: pointer;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          padding: 2px 15px;
          background: #FFFFFF;
          border: 1px solid #D7E1E5;
          border-radius: 100px;
          height: 20px; }
          .search-filter .wrapper .filters_content .by_speaker .speaker span {
            display: block;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
            color: #617589;
            margin-right: 10px; }
          .search-filter .wrapper .filters_content .by_speaker .speaker svg {
            display: block;
            width: 10px; }
        .search-filter .wrapper .filters_content .by_speaker .select span {
          color: #1A1A1A; }
        .search-filter .wrapper .filters_content .by_speaker .popup_speaker {
          display: none;
          position: absolute;
          left: 0;
          top: 35px;
          height: 255px;
          width: 210px;
          overflow: hidden;
          overflow-y: scroll;
          z-index: 3;
          filter: drop-shadow(0px 14px 21px rgba(0, 0, 0, 0.13));
          background: #FAFDFE;
          border: 1px solid #DDEBEF;
          border-radius: 2px; }
          .search-filter .wrapper .filters_content .by_speaker .popup_speaker::-webkit-scrollbar {
            width: 4px;
            /* ширина для вертикального скролла */
            background-color: #B8B8B8;
            border: 1px solid #B8B8B8;
            border-radius: 0 0 2px 0; }
          .search-filter .wrapper .filters_content .by_speaker .popup_speaker::-webkit-scrollbar-thumb {
            background-color: #FFFFFF;
            border-radius: 100px;
            height: 50px;
            width: 2px; }
          .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search {
            height: 22px;
            padding: 6px 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            border-bottom: 1px solid #DDEBEF; }
            .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_icon {
              width: 18px;
              height: 18px;
              display: block;
              margin-right: 10px; }
            .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input {
              border: none;
              height: 22px;
              width: 90%;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #1A1A1A; }
              .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input::-webkit-input-placeholder {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #8E989B; }
              .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input::-moz-placeholder {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #8E989B; }
              .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-ms-input-placeholder {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #8E989B; }
              .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:focus-visible, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:hover, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:focus, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:focus-visible, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:hover, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:focus, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:hover, .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_search .popup_speaker_search_input:-webkit-autofill:focus {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                -webkit-text-fill-color: #1A1A1A;
                -webkit-box-shadow: none;
                transition: background-color 5000s ease-in-out 0s;
                outline: none; }
          .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_items .popup_speaker_item {
            height: 22px;
            padding: 6px 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid #DDEBEF; }
            .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_items .popup_speaker_item .popup_speaker_item_qurta {
              width: 16px;
              height: 16px;
              background: #FFFFFF;
              border: 1px solid #D7E1E5;
              border-radius: 2px;
              margin-right: 10px; }
            .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_items .popup_speaker_item .popup_speaker_item_title {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #29292A; }
          .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_items .popup_speaker_item:last-child {
            border-bottom: none; }
          .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_items .active .popup_speaker_item_qurta {
            position: relative; }
            .search-filter .wrapper .filters_content .by_speaker .popup_speaker .popup_speaker_items .active .popup_speaker_item_qurta:after {
              position: absolute;
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ED8323;
              left: 3px;
              top: 3px; }
      .search-filter .wrapper .filters_content .speaker_active .speaker {
        background: #DB6C08;
        border: 1px solid #DB6C08; }
        .search-filter .wrapper .filters_content .speaker_active .speaker span {
          color: #FFFFFF; }
        .search-filter .wrapper .filters_content .speaker_active .speaker svg {
          transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          /* Для Firefox */
          -ms-transform: rotate(180deg);
          /* Для IE */
          -webkit-transform: rotate(180deg);
          /* Для Safari, Chrome, iOS */
          -o-transform: rotate(180deg); }
          .search-filter .wrapper .filters_content .speaker_active .speaker svg path {
            fill: #FFFFFF; }
      .search-filter .wrapper .filters_content .speaker_active .popup_speaker {
        display: block; }
      .search-filter .wrapper .filters_content .separator {
        margin-left: 20px;
        height: 100%;
        width: 1px;
        background-color: #EBEDEE;
        margin-right: 20px; }
      .search-filter .wrapper .filters_content .by_category {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        max-width: 220px;
        width: 100%; }
        .search-filter .wrapper .filters_content .by_category .category {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          padding: 2px 15px;
          background: #FFFFFF;
          border-radius: 100px;
          height: 20px;
          max-width: 220px;
          width: 100%;
          cursor: pointer; }
          .search-filter .wrapper .filters_content .by_category .category svg {
            width: 18px;
            height: 18px;
            display: block; }
          .search-filter .wrapper .filters_content .by_category .category span {
            margin-left: 10px;
            display: block;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px; }
          .search-filter .wrapper .filters_content .by_category .category .icon_close {
            display: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-right: 20px; }
          .search-filter .wrapper .filters_content .by_category .category svg:last-child {
            width: 10px;
            height: 5px;
            display: block;
            margin-left: auto; }
        .search-filter .wrapper .filters_content .by_category .popup_category {
          display: none;
          position: absolute;
          left: 0;
          top: 35px;
          height: 255px;
          width: 210px;
          overflow: hidden;
          overflow-y: scroll;
          z-index: 3;
          filter: drop-shadow(0px 14px 21px rgba(0, 0, 0, 0.13));
          background: #FAFDFE;
          border: 1px solid #DDEBEF;
          border-radius: 2px; }
          .search-filter .wrapper .filters_content .by_category .popup_category::-webkit-scrollbar {
            width: 4px;
            /* ширина для вертикального скролла */
            background-color: #B8B8B8;
            border: 1px solid #B8B8B8;
            border-radius: 0 0 2px 0; }
          .search-filter .wrapper .filters_content .by_category .popup_category::-webkit-scrollbar-thumb {
            background-color: #FFFFFF;
            border-radius: 100px;
            height: 50px;
            width: 2px; }
          .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search {
            height: 22px;
            padding: 6px 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            border-bottom: 1px solid #DDEBEF; }
            .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_icon {
              width: 18px;
              height: 18px;
              display: block;
              margin-right: 10px; }
            .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input {
              border: none;
              height: 22px;
              width: 90%;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #1A1A1A; }
              .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input::-webkit-input-placeholder {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #8E989B; }
              .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input::-moz-placeholder {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #8E989B; }
              .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-ms-input-placeholder {
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #8E989B; }
              .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:focus-visible, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:hover, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:focus, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:focus-visible, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:hover, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:focus, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:hover, .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_search .popup_category_search_input:-webkit-autofill:focus {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                -webkit-text-fill-color: #1A1A1A;
                -webkit-box-shadow: none;
                transition: background-color 5000s ease-in-out 0s;
                outline: none; }
          .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_items .popup_category_item {
            height: 22px;
            padding: 6px 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid #DDEBEF; }
            .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_items .popup_category_item .popup_category_item_qurta {
              width: 16px;
              height: 16px;
              background: #FFFFFF;
              border: 1px solid #D7E1E5;
              border-radius: 2px;
              margin-right: 10px; }
            .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_items .popup_category_item .popup_category_item_title {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #29292A; }
          .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_items .popup_category_item:last-child {
            border-bottom: none; }
          .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_items .active .popup_category_item_qurta {
            position: relative; }
            .search-filter .wrapper .filters_content .by_category .popup_category .popup_category_items .active .popup_category_item_qurta:after {
              position: absolute;
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ED8323;
              left: 3px;
              top: 3px; }
        .search-filter .wrapper .filters_content .by_category .select svg path {
          fill: #ED8323; }
        .search-filter .wrapper .filters_content .by_category .select svg:last-child {
          margin-left: 0; }
          .search-filter .wrapper .filters_content .by_category .select svg:last-child path {
            fill: #B3C3CA; }
        .search-filter .wrapper .filters_content .by_category .select .icon_close {
          display: block;
          width: 10px;
          height: 10px;
          margin-right: 10px;
          margin-left: auto; }
      .search-filter .wrapper .filters_content .speaker_active .category svg path {
        fill: #ED8323; }
      .search-filter .wrapper .filters_content .speaker_active .category svg:last-child {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        /* Для Firefox */
        -ms-transform: rotate(180deg);
        /* Для IE */
        -webkit-transform: rotate(180deg);
        /* Для Safari, Chrome, iOS */
        -o-transform: rotate(180deg); }
      .search-filter .wrapper .filters_content .speaker_active .popup_category {
        display: block; }
    .search-filter .wrapper .button_filters {
      display: none; }
    @media (max-width: 1340px) {
      .search-filter .wrapper .search {
        width: 37%; }
      .search-filter .wrapper .filters_content {
        width: 63%; } }
    @media (max-width: 1175px) {
      .search-filter .wrapper {
        background: #F5F8FA;
        border: none; }
        .search-filter .wrapper .search {
          padding-top: 5px;
          padding-bottom: 5px;
          width: 100%;
          background: #FDFDFD;
          border: 1px solid #DDEBEF;
          border-radius: 100px;
          margin-right: 0; }
        .search-filter .wrapper .filters_content {
          display: none; }
        .search-filter .wrapper .button_filters {
          padding: 8px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
          cursor: pointer;
          background: #FDFDFD;
          border: 1px solid #DDEBEF;
          border-radius: 10px;
          display: block;
          margin-left: 10px; }
          .search-filter .wrapper .button_filters svg {
            display: block;
            width: 18px;
            height: 18px; } }
