@charset "UTF-8";
@import "Variable/_variable";

.top-category {
    background: #FBFBFB;
    padding-top: 75px;
    padding-bottom: 45px;
    .wrapper {
        @include dsp-flex;
        @include justify-content-space-between;
        @include align-items-center;
        .top-category_title {
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: $fonts;
            padding-bottom: 20px;
            position: relative;
            max-width: 540px;
            margin-right: 60px;
            &:after {
                position: absolute;
                content: '';
                height: 1px;
                width: 30px;
                background-color: $yellow;
                bottom: 0;
                left: 0;
            }
        }
        .top-category_description {
            max-width: 540px;
            font-family: $poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $fonts;
        }
        @media (max-width: 1195px) {
            @include flex-direction-column;
            @include align-items-initial;
            .top-category_title {
                margin-bottom: 6px;
                margin-right: 0;
                max-width: 1195px;
            }
            .top-category_description {
                max-width: 1195px;
            }
        }
        @media (max-width: 605px) {
            .top-category_title {
                font-size: 18px;
                padding-bottom: 18px;
                margin-bottom: 12px;
            }
        }
    }
    @media (max-width: 1195px) {
        padding-top: 30px;
        padding-bottom: 30px;

    }
}

.slider-small-block {
    background: #F5F8FA;
    .wrapper {
        padding: 24px 0 40px;
        border-bottom: 1px solid $grey;
        .slider-small-block_top {
            @include dsp-flex;
            @include justify-content-space-between;
            margin-bottom: 12px;
            .slider-small-block_title_link {
                @include dsp-flex;
                .slider-small-block_title {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: $fonts;
                    margin-right: 15px;
                }
                .slider-small-block_link {
                    padding-top: 3px;
                    display: block;
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: $yellow;
                    @include transition_all;
                    &:hover {
                        @include transition_all;
                        text-decoration: none;
                    }
                }
            }
            .slider-small-block_navigation {
                max-width: 70px;
                width: 100%;
                @include dsp-flex;
                @include justify-content-space-between;
                .slider-small-button {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    svg {
                        display: block;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            @media (max-width: 950px) {
                .slider-small-block_title_link {
                    @include dsp-flex;
                    @include justify-content-space-between;
                    width: 100%;
                }
                .slider-small-block_navigation {
                    display: none;
                }
            }
        }
        .slider-small-block {
            max-width: 1760px;
            width: 100%;
            overflow: hidden;
            .items {
                .item {
                    max-width: 360px;
                    width: 100%;
                    position: relative;
                    .item_label {
                        position: absolute;
                        width: auto;
                        height: auto;
                        background: rgba(255, 255, 255, 0.3);
                        backdrop-filter: blur(2.5px);
                        border-radius: 100px;
                        font-family: $poppins;
                        top: 10px;
                        right: 10px;
                        padding: 2px 15px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 16px;
                        text-align: center;
                        color: #E6F3F8;
                    }
                    .item_img {
                        @include transition_all;
                        display: block;
                        max-width: 360px;
                        width: 100%;
                        height: 200px;
                        border-radius: 3px;
                        margin-bottom: 10px;
                    }
                    .item_title {
                        @include transition_all;
                        display: block;
                        text-decoration: none;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: $fonts;
                        margin-bottom: 2px;
                    }
                    .item_autor {
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: $fonts-light;
                        margin-bottom: 10px;
                    }
                    .item_tags {
                        @include dsp-flex;
                        overflow: hidden;
                        .item_tag {
                            display: block;
                            text-decoration: none;
                            background: #DDE0E1;
                            border-radius: 6px;
                            padding: 2px 5px;
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 16px;
                            text-align: center;
                            color: $fonts-points;
                            @include transition_all;
                            margin-right: 10px;
                            &:hover {
                                @include transition_all;
                                background: $yellow;
                                color: $white;
                            }
                        }
                        .item_tag:last-child {
                            margin-right: 0;
                        }
                    }
                    &:hover {
                        .item_title {
                            @include transition_all;
                            color: $yellow;
                        }
                    }
                }
                .item_liked {
                    max-width: 555px;
                    height: 310px;
                    width: 100%;
                    position: relative;
                    @include dsp-flex;
                    @include flex-direction-column;
                    border-radius: 3px;
                    .item_label {
                        position: absolute;
                        width: auto;
                        height: auto;
                        background: rgba(255, 255, 255, 0.3);
                        backdrop-filter: blur(2.5px);
                        border-radius: 100px;
                        font-family: $poppins;
                        top: 10px;
                        right: 10px;
                        padding: 2px 15px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 16px;
                        text-align: center;
                        color: #E6F3F8;
                    }
                    .item_liked_bottom {
                        padding: 13px 20px 20px;
                        width: auto;
                        background: rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(5px);
                        border-radius: 0 0 3px 3px;
                        margin-top: auto;
                        .item_title {
                            @include transition_all;
                            display: block;
                            text-decoration: none;
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: $white;
                            margin-bottom: 2px;
                        }
                        .item_autor {
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            color: $menu-fonts;
                            margin-bottom: 10px;
                        }
                        .item_tags {
                            overflow: hidden;
                            @include dsp-flex;
                            .item_tag {
                                display: block;
                                text-decoration: none;
                                background: rgba(0, 0, 0, 0.4);
                                backdrop-filter: blur(2.5px);
                                border-radius: 6px;
                                padding: 2px 5px;
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 11px;
                                line-height: 16px;
                                text-align: center;
                                color: $menu-fonts;
                                @include transition_all;
                                margin-right: 10px;
                                &:hover {
                                    @include transition_all;
                                    background: $yellow;
                                    color: $white;
                                }
                            }
                            .item_tag:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    &:hover {
                        .item_liked_bottom {
                            .item_title {
                                @include transition_all;
                                color: $yellow;
                            }
                        }
                    }
                    @media (max-width: 950px) {
                        max-width: 360px;
                        width: 100%;
                        height: 280px;
                    }
                }
            }
        }
    }
    @media (max-width: 480px) {
        .wrapper {
            .slider-small-block_top {
                .slider-small-block_title_link {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
            .slider-small-block {
                width: auto;
                margin-left: 20px;
                .items {
                    .item {
                        max-width: 320px;
                    }
                    .item_liked {
                        max-width: 320px;
                    }
                }
            }
        }
        padding: 0;
    }
}

.post-section {
    background: #F5F8FA;
    .wrapper {
        padding: 40px 0;
        border-bottom: 1px solid $grey;
        .post_title {
            margin-bottom: 15px;
            font-family: $poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $fonts;
        }
        .posts {
            .post {
                @include dsp-flex;
                @include align-items-center;
                margin-bottom: 30px;
                .post_img_label {
                    position: relative;
                    @include transition_all;
                    display: block;
                    max-width: 360px;
                    width: 100%;
                    height: 200px;
                    border-radius: 3px;
                    margin-right: 35px;
                    .post_label {
                        position: absolute;
                        width: auto;
                        height: auto;
                        background: rgba(255, 255, 255, 0.3);
                        backdrop-filter: blur(2.5px);
                        border-radius: 100px;
                        font-family: $poppins;
                        top: 10px;
                        right: 10px;
                        padding: 2px 15px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 16px;
                        text-align: center;
                        color: #E6F3F8;
                    }
                }
                .post_content {
                    max-width: 745px;
                    width: 100%;
                    .post_title {
                        @include transition_all;
                        display: block;
                        text-decoration: none;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: $fonts;
                        margin-bottom: 2px;
                    }
                    .post_autor {
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: $fonts-light;
                        margin-bottom: 10px;
                    }
                    .post_tags {
                        @include dsp-flex;
                        overflow: hidden;
                        margin-bottom: 15px;
                        .post_tag {
                            display: block;
                            text-decoration: none;
                            background: #DDE0E1;
                            border-radius: 6px;
                            padding: 2px 5px;
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 16px;
                            text-align: center;
                            color: $fonts-points;
                            @include transition_all;
                            margin-right: 10px;
                            &:hover {
                                @include transition_all;
                                background: $yellow;
                                color: $white;
                            }
                        }
                        .post_tag:last-child {
                            margin-right: 0;
                        }
                    }
                    .post_description {
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #444647;
                        margin-bottom: 8px;
                    }
                    .post_link {
                        display: block;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: $yellow;
                        @include transition_all;
                        &:hover {
                            @include transition_all;
                            text-decoration: none;
                        }
                    }
                }
                &:hover {
                    .post_content {
                        .post_title {
                            @include transition_all;
                            color: $yellow;
                        }
                    }
                }
                @media (max-width: 950px) {
                    .post_img_label {
                        width: 340px;
                        height: 190px;
                        margin-right: 20px;
                    }
                    .post_content {
                        max-width: 340px;
                        .post_description {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
                @media (max-width: 650px) {
                    @include flex-direction-column;
                    .post_img_label {
                        width: 335px;
                        height: 185px;
                        margin-right: 0;
                        margin-bottom: 11px;
                    }
                    .post_content {
                        max-width: 335px;
                    }
                }
            }
        }
        .show-more {
            @include button-style;
            color: $white;
            margin: 0 auto;
        }
    }
}

.last-post {
    .wrapper {
        border-bottom: none;
    }
    padding-bottom: 60px;
    @media (max-width: 950px) {
        padding-bottom: 20px;
    }
    @media (max-width: 650px) {
        padding-bottom: 0;
    }
}

.search-filter {
    background: #F5F8FA;
    padding-top: 40px;
    .wrapper {
        background: #FDFDFD;
        border: 1px solid #DDEBEF;
        border-radius: 100px;
        @include dsp-flex;
        .search {
            padding-top: 7px;
            padding-bottom: 7px;
            @include dsp-flex;
            @include align-items-center;
            width: 45%;
            svg {
                margin-left: 20px;
                display: block;
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }

            .search_input {
                border: none;
                height: 22px;
                width: 90%;
                font-family: $poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #1A1A1A;
                &::-webkit-input-placeholder {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #8E989B;
                }
                &::-moz-placeholder {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #8E989B;
                }
                &:-ms-input-placeholder {
                    font-family: $poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #8E989B;
                }
                &:-webkit-autofill,
                &:focus-visible,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:focus-visible,
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    -webkit-text-fill-color: #1A1A1A;
                    -webkit-box-shadow: none;
                    transition: background-color 5000s ease-in-out 0s;
                    outline: none;
                }
            }

            .icon_close {
                display: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
                margin-right: 20px;
            }
            @include dsp-flex;

            border-right: 1px solid $grey;
            margin-right: 20px;
        }
        .active {
            svg {
                path {
                    fill: $yellow;
                }
            }
            .icon_close {
                display: block;
            }
        }
        .filters_content {
            @include dsp-flex;
            width: 55%;
            .types {
                margin-left: auto;
                @include dsp-flex;
                max-width: 310px;
                width: 100%;
                position: relative;
                .typesr {
                    @include align-items-center;
                    padding: 2px 15px;
                    background: #FFFFFF;
                    border-radius: 100px;
                    height: 20px;
                    max-width: 220px;
                    width: 100%;
                    cursor: pointer;
                    svg {
                        width: 18px;
                        height: 18px;
                        display: block;
                    }
                    span {
                        margin-left: 10px;
                        display: block;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    .icon_close {
                        display: none;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        margin-right: 20px;
                    }
                    svg:last-child {
                        width: 10px;
                        height: 5px;
                        display: block;
                        margin-left: auto;
                    }
                    display: none;
                }
                .types_items {
                    @include dsp-flex;
                    @include align-items-center;
                    .type {
                        @include dsp-flex;
                        @include align-items-center;
                        padding: 2px 15px;
                        background: #FFFFFF;
                        border: 1px solid #D7E1E5;
                        border-radius: 100px;
                        height: 20px;
                        cursor: pointer;
                        margin-right: 10px;
                        .type_item_qurta {
                            display: none;
                            width: 16px;
                            height: 16px;
                            background: #FFFFFF;
                            border: 1px solid #D7E1E5;
                            border-radius: 2px;
                            margin-right: 12px;
                        }
                        .type_item_title {
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 16px;
                            text-align: center;
                            color: #617589;
                        }
                    }
                    .active {
                        border: 1px solid #ED8322;
                        .type_item_title {
                            color: #ED8322;
                        }
                    }
                }
            }
            .by_speaker {
                position: relative;
                @include dsp-flex;
                @include align-items-center;
                .speaker {
                    cursor: pointer;
                    @include dsp-flex;
                    @include align-items-center;
                    padding: 2px 15px;
                    background: #FFFFFF;
                    border: 1px solid #D7E1E5;
                    border-radius: 100px;
                    height: 20px;
                    span {
                        display: block;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 16px;
                        text-align: center;
                        color: #617589;
                        margin-right: 10px;
                    }
                    svg {
                        display: block;
                        width: 10px;
                    }
                }
                .popup_speaker {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 35px;
                    height: 255px;
                    width: 210px;
                    overflow: hidden;
                    overflow-y: scroll;
                    z-index: 3;
                    filter: drop-shadow(0px 14px 21px rgba(0, 0, 0, 0.13));
                    background: #FAFDFE;
                    border: 1px solid #DDEBEF;
                    border-radius: 2px;
                    &::-webkit-scrollbar {
                        width: 4px; /* ширина для вертикального скролла */
                        background-color: #B8B8B8;
                        border: 1px solid #B8B8B8;
                        border-radius: 0 0 2px 0;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #FFFFFF;
                        border-radius: 100px;
                        height: 50px;
                        width: 2px;
                    }
                    .popup_speaker_search {
                        height: 22px;
                        padding: 6px 10px;
                        @include dsp-flex;
                        @include align-items-center;
                        .popup_speaker_search_icon {
                            width: 18px;
                            height: 18px;
                            display: block;
                            margin-right: 10px;
                        }
                        .popup_speaker_search_input {
                            border: none;
                            height: 22px;
                            width: 90%;
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 22px;
                            color: #1A1A1A;
                            &::-webkit-input-placeholder {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8E989B;
                            }
                            &::-moz-placeholder {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8E989B;
                            }
                            &:-ms-input-placeholder {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8E989B;
                            }
                            &:-webkit-autofill,
                            &:focus-visible,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus,
                            &:-webkit-autofill:focus-visible,
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus,
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                border-bottom: none;
                                -webkit-text-fill-color: #1A1A1A;
                                -webkit-box-shadow: none;
                                transition: background-color 5000s ease-in-out 0s;
                                outline: none;
                            }
                        }
                        border-bottom: 1px solid #DDEBEF;
                    }
                    .popup_speaker_items {
                        .popup_speaker_item {
                            height: 22px;
                            padding: 6px 10px;
                            @include dsp-flex;
                            @include align-items-center;
                            cursor: pointer;
                            border-bottom: 1px solid #DDEBEF;
                            .popup_speaker_item_qurta {
                                width: 16px;
                                height: 16px;
                                background: #FFFFFF;
                                border: 1px solid #D7E1E5;
                                border-radius: 2px;
                                margin-right: 10px;
                            }
                            .popup_speaker_item_title {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #29292A;
                            }
                        }
                        .popup_speaker_item:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            .speaker_active {
                .speaker {
                    background: #DB6C08;
                    border: 1px solid #DB6C08;
                    span {
                        color: #FFFFFF;
                    }
                    svg {
                        transform: rotate(180deg);
                        -moz-transform: rotate(180deg); /* Для Firefox */
                        -ms-transform: rotate(180deg); /* Для IE */
                        -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
                        -o-transform: rotate(180deg);
                        path {
                            fill: #FFFFFF;
                        }
                    }
                }
                .popup_speaker {
                    display: block;
                }
            }
            .separator {
                margin-left: 20px;
                height: 100%;
                width: 1px;
                background-color: $grey;
                margin-right: 20px;
            }
            .by_category {
                position: relative;
                @include dsp-flex;
                @include align-items-center;
                max-width: 220px;
                width: 100%;
                .category {
                    @include dsp-flex;
                    @include align-items-center;
                    padding: 2px 15px;
                    background: #FFFFFF;
                    border-radius: 100px;
                    height: 20px;
                    max-width: 220px;
                    width: 100%;
                    cursor: pointer;
                    svg {
                        width: 18px;
                        height: 18px;
                        display: block;
                    }
                    span {
                        margin-left: 10px;
                        display: block;
                        font-family: $poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    .icon_close {
                        display: none;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        margin-right: 20px;
                    }
                    svg:last-child {
                        width: 10px;
                        height: 5px;
                        display: block;
                        margin-left: auto;
                    }
                }
                .popup_category {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 35px;
                    height: 255px;
                    width: 210px;
                    overflow: hidden;
                    overflow-y: scroll;
                    z-index: 3;
                    filter: drop-shadow(0px 14px 21px rgba(0, 0, 0, 0.13));
                    background: #FAFDFE;
                    border: 1px solid #DDEBEF;
                    border-radius: 2px;
                    &::-webkit-scrollbar {
                        width: 4px; /* ширина для вертикального скролла */
                        background-color: #B8B8B8;
                        border: 1px solid #B8B8B8;
                        border-radius: 0 0 2px 0;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #FFFFFF;
                        border-radius: 100px;
                        height: 50px;
                        width: 2px;
                    }
                    .popup_category_search {
                        height: 22px;
                        padding: 6px 10px;
                        @include dsp-flex;
                        @include align-items-center;
                        .popup_category_search_icon {
                            width: 18px;
                            height: 18px;
                            display: block;
                            margin-right: 10px;
                        }
                        .popup_category_search_input {
                            border: none;
                            height: 22px;
                            width: 90%;
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 22px;
                            color: #1A1A1A;
                            &::-webkit-input-placeholder {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8E989B;
                            }
                            &::-moz-placeholder {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8E989B;
                            }
                            &:-ms-input-placeholder {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8E989B;
                            }
                            &:-webkit-autofill,
                            &:focus-visible,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus,
                            &:-webkit-autofill:focus-visible,
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus,
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                border-bottom: none;
                                -webkit-text-fill-color: #1A1A1A;
                                -webkit-box-shadow: none;
                                transition: background-color 5000s ease-in-out 0s;
                                outline: none;
                            }
                        }
                        border-bottom: 1px solid #DDEBEF;
                    }
                    .popup_category_items {
                        .popup_category_item {
                            height: 22px;
                            padding: 6px 10px;
                            @include dsp-flex;
                            @include align-items-center;
                            cursor: pointer;
                            border-bottom: 1px solid #DDEBEF;
                            .popup_category_item_qurta {
                                width: 16px;
                                height: 16px;
                                background: #FFFFFF;
                                border: 1px solid #D7E1E5;
                                border-radius: 2px;
                                margin-right: 10px;
                            }
                            .popup_category_item_title {
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #29292A;
                            }
                        }
                        .popup_category_item:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            .speaker_active {
                .category {
                    svg {
                        path {
                            fill: $yellow;
                        }
                    }
                    svg:last-child {
                        transform: rotate(180deg);
                        -moz-transform: rotate(180deg); /* Для Firefox */
                        -ms-transform: rotate(180deg); /* Для IE */
                        -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
                        -o-transform: rotate(180deg);
                    }
                }
                .popup_category {
                    display: block;
                }
            }
            .select {
                .category {
                    svg {
                        path {
                            fill: $yellow;
                        }
                    }
                    svg:last-child {
                        margin-left: 0;
                        path {
                            fill: #B3C3CA;
                        }
                    }
                    .icon_close {
                        display: block;
                        width: 10px;
                        height: 10px;
                        margin-right: 10px;
                        margin-left: auto;
                    }
                }
                .popup_category {
                    display: none;
                }
            }
        }

        .button_filters {
            display: none;
        }
        @media (max-width: 1340px) {
            .search {
                width: 37%;
            }
            .filters_content {
                width: 63%;
            }
        }
        @media (max-width: 1175px) {
            background: #F5F8FA;
            border: none;
            .search {
                padding-top: 5px;
                padding-bottom: 5px;
                width: 100%;
                background: #FDFDFD;
                border: 1px solid #DDEBEF;
                border-radius: 100px;
                margin-right: 0;
            }
            .filters_content {
                display: none;
            }
            .button_filters {
                padding: 8px;
                @include dsp-flex;
                @include align-items-center;
                @include justify-content-center;
                cursor: pointer;
                background: #FDFDFD;
                border: 1px solid #DDEBEF;
                border-radius: 10px;
                display: block;
                margin-left: 10px;
                svg {
                    display: block;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}