.wrapper {
	width: 100%;
	margin: 0 auto;
}
.content {
	width: 100%;
}
section {
	padding: 0 30px;
	@media (max-width: 950px) {
		padding: 0 20px;
	}
}
body {
	background: #FFFFFF;
}
html {
	height: 100%;
}