// Body
$black: #000000;
$yellow: #ED8323;
$wite: #FFFFFF;
$grey: #EBEDEE;

//Fonts color
$content-bgr: #F5F8FA;

$menu-bgr: #263442;
$menu-fonts: #BFC6C8;

$fonts: #1A1A1A;
$fonts-light: #444647;

$points-bgr: #DDE0E1;
$fonts-points: #4D5E6F;
