//Base mixin
@mixin margin-left-right-auto {
    margin-left: auto;
    margin-right: auto;
}
@mixin fit_content {
    width: fit-content;
    width: -moz-fit-content;
}
@mixin box-shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin transition_all {
    transition: all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}

//Flex mixin
@mixin dsp-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
@mixin align-items-center {
    -webkit-align-items: center;
    align-items: center;
}
@mixin align-items-initial {
    -webkit-align-items: initial;
    align-items: initial;
}
@mixin justify-content-unset {
    -webkit-justify-content: unset;
    justify-content: unset;
}
@mixin justify-content-center {
    -webkit-justify-content: center;
    justify-content: center;
}
@mixin justify-content-space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@mixin flex-wrap-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
}
@mixin flex-direction-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@mixin flex-direction-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
@mixin flex-flow-column-wrap {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}
@mixin flex-end {
    -webkit-align-items: flex-end;
    align-items: end;
    -webkit-justify-content: flex-end;
    justify-content: end;
}

//Element style

@mixin button-style {
    background: #ED8323;
    border-radius: 10px;
    padding: 9px 20px;
    @include fit_content;
    @include dsp-flex;
    @include justify-content-center;
    @include align-items-center;
    @include transition_all;
    cursor: pointer;
    svg {
        display: block;
        margin-right: 10px;
    }
    span {
        display: block;
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: $white;
    }
    &:hover {
        @include transition_all;
        background-color: #DB6C08;
    }
}